@import "src/css/mixins";
@import "src/css/variables";

html,
body,
#app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  border-width: 1px;
  border-style: solid none none none;
  border-color: $light-color;

  &__icon {
    width: 25px;
    height: 25px;
  }
}

.w-100 {
  width: 100%;
}
